---
- hosts: masters
  become: true   # user with working kubeconfig
  tasks:
    - name: Create ArgoCD namespace
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: argocd
        state: present
      environment: # apparently it is necessary to add this for all tasks not just in the inventory
        K8S_AUTH_KUBECONFIG: /etc/rancher/k3s/k3s.yaml
    - name: Patch argocd-cmd-params-cm ConfigMap
      environment:
        K8S_AUTH_KUBECONFIG: /etc/rancher/k3s/k3s.yaml
      kubernetes.core.k8s:
        state: present
        definition:
          api_version: v1
          kind: ConfigMap
          metadata:
            name: argocd-cmd-params-cm
            labels:
              app.kubernetes.io/name: argocd-cmd-params-cm
            namespace: argocd
          data:
            server.insecure: "true"
    - name: Download Kubernetes yaml file definition
      get_url:
        url: https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
        dest: /tmp/argocd_install.yaml
        owner: root
        group: root
        mode: 0440
    - name: Apply ArgoCD Manifest using kubectl
      environment:
        K8S_AUTH_KUBECONFIG: /etc/rancher/k3s/k3s.yaml
      kubernetes.core.k8s:
        namespace: argocd
        src: /tmp/argocd_install.yaml
        state: present
    - name: ARGOCD KUBERNETES | Clean installation
      file:
        path: /tmp/argocd_install.yaml
        state: absent
    - name: Create certificates for ArgoCD
      environment:
        K8S_AUTH_KUBECONFIG: /etc/rancher/k3s/k3s.yaml
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: cert-manager.io/v1
          kind: Certificate
          metadata:
            name: argocd-cert
            namespace: argocd
          spec:
            secretName: argocd-tls-secret
            issuerRef:
              name: ssl-issuer
              kind: ClusterIssuer
            dnsNames:
            - argocd.mw.local
    - name: Create Ingress for ArgoCD
      environment:
        K8S_AUTH_KUBECONFIG: /etc/rancher/k3s/k3s.yaml
      kubernetes.core.k8s:
        state: present
        definition: 
          apiVersion: traefik.containo.us/v1alpha1
          kind: IngressRoute
          metadata:
            name: argocd-server
            namespace: argocd
          spec:
            entryPoints:
            - websecure
            routes:
            - kind: Rule
              match: Host(`argocd.mw.local`)
              priority: 10
              services:
              - name: argocd-server
                port: 80
            - kind: Rule
              match: Host(`argocd.mw.local`) && Headers(`Content-Type`, `application/grpc`)
              priority: 11
              services:
              - name: argocd-server
                port: 80
                scheme: h2c
          tls:
            certResolver: argocd-tls-secret
