---
- hosts: masters
  become: true
  become_user: root
  tasks:
    - name: Create namespaces for ArgoCD
      environment:
        K8S_AUTH_KUBECONFIG: /etc/rancher/k3s/k3s.yaml
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: mw
        state: present
    - name: Clone the Git repository
      git:
        repo: https://github.com/MatiWall/cluster-argocd-applications.git
        dest: /tmp/argocd-apps
        version: main
    - name: Apply cluster setup
      shell: kubectl apply -f /tmp/argocd-apps/argocd-selfmanaged-cluster.yaml
      args:
        executable: /bin/bash
    - name: Apply applications setup
      shell: kubectl apply -f /tmp/argocd-apps/argocd-selfmanaged-apps.yaml
      args:
        executable: /bin/bash
